<% layout("/layouts/boilerplate.ejs") %>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h3>Edit Your Listing</h3>
            <form action="/listing/<%= listing._id %>?_method=PUT" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="md-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="title" value="<%= listing.title %>" type="text" class="form-control" required>
                    <div class="invalid-feedback">Title can't be empty</div>

                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="description" placeholder="Enter Description" class="form-control" required><%= listing.description %></textarea>
                    <div class="invalid-feedback">Please enter a short description</div>
                    
                </div>
                <div class="mb-3">
                    Original Listing Image <br>
                    <img src="<%= originalImageUrl %>" alt="">
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload New Image</label>
                    <input name="image" type="file" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="category" class="form-label">Choose a category</label>
                    <select name="category" type="" class="form-control">
                        <option value="">Select</option>
                        <option value="Trending">Trending</option>
                        <option value="Rooms">Room</option>
                        <option value="Iconic Cities">Iconic City</option>
                        <option value="Mountains">Mountain</option>
                        <option value="Castles">Castle</option>
                        <option value="Amazing Pools">Amazing Pool</option>
                        <option value="Camping">Camping</option>
                        <option value="Farms">Farm</option>
                        <option value="Arctic">Arctic</option>
                        <option value="Domes">Dome</option>
                        <option value="Boats">Boat</option>
                    </select>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input name="price" value="<%= listing.price %>" type="number" class="form-control" required>
                        <div class="invalid-feedback">Price should be valid</div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input name="country" value="<%= listing.country %>" type="text" class="form-control" required>
                        <div class="invalid-feedback">Country name should be valid</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input name="location" value="<%= listing.location %>" type="text" class="form-control" required>
                    <div class="invalid-feedback">Location should be valid</div>
                </div>
                <button class="btn btn-dark mt-3 edit-btn">Edit</button>
            </form>
            <br>
        </div>
    </div>

